## Pre-processing Phase

# TO use only when we want to derive new data from the actual dataset

In [4]:
import pandas as pd

# Load the CSV file
dataset_path = "../dataset/co-emissions-per-capita.csv"

df = pd.read_csv(dataset_path, sep=',')  # Change sep to ';' if needed

# Display the first few rows to verify
print(df.head())

num_rows, num_columns = df.shape

print(f"Number of rows: {num_rows}")
print(f"Number of coloumns: {num_columns}")

        Entity Code  Year  Annual CO₂ emissions (per capita)
0  Afghanistan  AFG  1949                           0.001992
1  Afghanistan  AFG  1950                           0.011266
2  Afghanistan  AFG  1951                           0.012098
3  Afghanistan  AFG  1952                           0.011946
4  Afghanistan  AFG  1953                           0.013685
Number of rows: 26600
Number of coloumns: 4

## Example

In [2]:
# Filtrare per Afghanistan e per l'anno 1950
selection = (df['Entity'] == 'Afghanistan') & (df['Year'] == 1950)
afghanistan_1950_data = df[selection]

# Visualizzare i primi risultati
print(afghanistan_1950_data.head())

        Entity Code  Year  Annual CO₂ emissions (per capita)
1  Afghanistan  AFG  1950                           0.011266

---------------------

## First Plot - Choose one Year 
- Choose one Year and plot via Bar Chart the Top 10 Entity which use more CO2 emission per capita

In [3]:
# Choosing the 2012 
selection = (df['Year'] == 2012)
df_year_2012 = df[selection]

# Visualizzare i primi risultati
print(df_year_2012.head())

          Entity Code  Year  Annual CO₂ emissions (per capita)
63   Afghanistan  AFG  2012                           0.329389
291       Africa  NaN  2012                           1.132187
381      Albania  ALB  2012                           1.676950
488      Algeria  DZA  2012                           3.641230
716      Andorra  AND  2012                           6.860168

-------------

## Choose one decade (average)

- Choose one Decade and plot via Bar Chart the Top 10 Entity which on average use more CO2 emission per capita

In [15]:
# Creare una nuova colonna 'Decade' raggruppando gli anni per decade
df['Decade'] = (df['Year'] // 10) * 10

# Raggruppare i dati per 'Decade' e 'Entity', calcolando la media delle emissioni pro capite
decade_entity_avg = df.groupby(['Decade', 'Entity'])['Annual CO₂ emissions (per capita)'].mean().reset_index()

# Ordinare in ordine decrescente in base alla media delle emissioni
decade_entity_avg_sorted = decade_entity_avg.sort_values(by='Annual CO₂ emissions (per capita)', ascending=False)

print(decade_entity_avg_sorted)

      Decade                     Entity  Annual CO₂ emissions (per capita)
1439    1950  Sint Maarten (Dutch part)                         537.207977
1654    1960  Sint Maarten (Dutch part)                         284.038517
1872    1970  Sint Maarten (Dutch part)                         155.856916
1321    1950                    Curacao                          83.080772
1747    1970                    Curacao                          75.321828
...      ...                        ...                                ...
74      1770                    Oceania                           0.000000
75      1770           Papua New Guinea                           0.000000
1189    1940                     Guinea                           0.000000
77      1770                  Singapore                           0.000000
45      1760              North America                           0.000000

[3057 rows x 3 columns]

-------------------